<% layout("/layouts/boilerplate.ejs") %>
<div class="row mt-2">
    <div class="col-8 offset-2">
        <br>
        <h3>Create A New Listing</h3>
        <form action="/listings" method="POST" novalidate class="needs-validation">
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" id="title" placeholder="Add a catchy title" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" id="description" placeholder="Enter description" class="form-control" required></textarea>
          </div>
          <div class="mb-3">
            <label for="image" class="form-label">Image (Optional)</label>
            <input type="text" name="listing[image]" id="image" placeholder="Enter image URL/Link (Optional)" class="form-control">
          </div>
          <div class="row">
            <div class="mb-3 col-md-4">
              <label for="price" class="form-label">Price</label>
              <input type="number" name="listing[price]" id="price" placeholder="1200" class="form-control" required>
            </div>
            <div class="mb-3 col-md-8">
              <label for="country" class="form-label">Country</label>
              <input type="text" name="listing[country]" id="country" placeholder="India" class="form-control" required>
            </div>
          </div>
          <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" name="listing[location]" id="location" placeholder="Mumbai" class="form-control" required>
          </div>
          <button class="btn btn-dark add-btn mt-2" type="submit">Add</button>
        </form>
        